/* Apply a smooth transition to the form */
form {
    border: 3px solid #f1f1f1;
    margin-top: 100px;
    margin-left: 490px;
    margin-right: 490px;
    transition: all 0.3s ease-in-out;
}

/* Assign full width to inputs */
input[type=text],
input[type=password],
textarea {
    width: 60%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set styles for buttons */
button {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Set extra style for the cancel button */
.cancelbtn {
    width: 60%;
    padding: 10px;
    padding-bottom: 10px;
    background-color: #f44336;
}

/* Centre the display image inside the container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Set image properties */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Set padding to the container */
.container {
    padding: 16px;
}

/* Set the forgot password text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Set styles for span and cancel button on small screens */
@media screen and (max-width: 300px) {
    form {
        width: 90%;
    }

    .cancelbtn {
        width: 60%;
    }
}